:root {
  --primary-content-color: #757575;
  --secondary-content-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #F5F4FA;
  --icons-bg-color: #AFB1B8;
  --hero-button-color: #2196f3;
  --hero-button-color-accent: #188CE8;
  --hero-background-color: #C4C4C4;
  /* cubic-bezier(0.4, 0, 0.2, 1) */
  --cubic-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* gallery */
  --gallery-cards-gap: 30px;
  --gallery-text-wrapper-padding-top-bottom: 18px;
  --gallery-text-wrapper-padding-left-right: 24px;
  /* gallery big */
  --gallery-big-text-wrapper-padding-top-bottom: 30px;
  --gallery-big-text-wrapper-padding-left-right: 30px;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.adress {
  font-style: normal;
}

.icon {
  fill: var(--icons-bg-color);
  transition: fill var(--cubic-function);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .visualiser {
    outline: 2px dashed blueviolet;
} */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px dashed greenyellow; */
  padding-right: 15px;
  padding-left: 15px;
}

body {
  color: var(--primary-content-color);
  background-color: var(--primary-bg-color);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
}

.section-title,
.section .title {
  color: var(--secondary-content-color);
}

header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  display: block;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

.header__logo {
  margin-right: 93px;
}

.logo__span {
  color: var(--accent-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.site-nav {
  display: flex;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.contacts {
  display: flex;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.contacts {
  margin-left: auto;
}

.contacts-footer {
  line-height: 1.71;
}

.adress p {
  color: var(--primary-bg-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--secondary-content-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--cubic-function);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}

.contacts .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-content-color);
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  transition: color var(--cubic-function);
}
.contacts .link:hover, .contacts .link:focus {
  color: var(--accent-color);
}

.contacts .icon {
  margin-right: 10px;
  text-align: center;
  fill: currentColor;
}

.contacts-footer .link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--cubic-function);
}
.contacts-footer .link:hover, .contacts-footer .link:focus {
  color: var(--accent-color);
}

.site-nav .active {
  color: var(--accent-color);
}

.header__item .link.active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hero-button-color);
}

.header__list .link.active {
  position: relative;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  background-color: var(--hero-button-color);
  transition: background-color var(--cubic-function);
  padding: 10px 32px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero .button:hover, .hero .button:focus {
  background-color: var(--hero-button-color-accent);
}

.hero__slogan {
  text-transform: uppercase;
  color: var(--secondary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
  /* outline: 1px solid blue; */
}

.hero__slogan--centered {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
  /* outline: 1px solid yellow;
  background-color: grey; */
}

.section.combi-top {
  padding-top: 94px;
  padding-bottom: 0;
}

.section.alternate {
  padding-top: 94px;
}

.alternate:nth-child(2n) {
  background-color: var(--secondary-bg-color);
}

/*
.section.combi-bottom {
    padding-top: 0;
} */
.list.gallery-flex .item {
  position: relative;
}

.alternate.combi-bottom p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  transform: translate(0, -100%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-bg-color);
}

.gallery-flex-big {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gallery-cards-gap));
  margin-left: calc(-1 * var(--gallery-cards-gap));
}

.gallery-flex-big .item {
  flex-basis: calc(25% - var(--gallery-cards-gap));
  /* margin-bottom: 30px; */
  margin-left: var(--gallery-cards-gap);
  margin-top: var(--gallery-cards-gap);
  align-items: center;
}

.alternate .gallery-flex-big .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
}

.gallery-flex-big .wrapper {
  text-align: center;
  padding-top: var(--gallery-big-text-wrapper-padding-top-bottom);
  padding-bottom: var(--gallery-big-text-wrapper-padding-top-bottom);
  /* padding-left: var(--gallery-big-text-wrapper-padding-left-right);
  padding-right: var(--gallery-big-text-wrapper-padding-left-right); */
}

.alternate h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.alternate h3 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.alternate p {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.alternate ul {
  display: flex;
  justify-content: center;
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

.features ul {
  /* margin-bottom: 94px; */
  display: flex;
}

.features .item-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
}

.features .icon {
  display: block;
  content: "";
  width: 70px;
  height: 70px;
}

/* .features .antenna::before {
    background-image: url(../images/features-antenna.svg);
}

.features .clock::before {
    background-image: url(../images/features-clock.svg);
}

.features .computer::before {
    background-image: url(../images/features-computer.svg);
}

.features .cosmonaut::before {
    background-image: url(../images/features-cosmonaut.svg);
} */
.button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 0;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.button-gallery {
  padding: 6px 22px;
}

.button.secondary.button-gallery:hover,
.button.secondary.button-gallery:focus,
.button.primary.button-gallery:hover,
.button.primary.button-gallery:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: none;
  transition: background-color var(--cubic-function), color var(--cubic-function), box-shadow var(--cubic-function);
}

.button.secondary {
  color: var(--secondary-content-color);
  background-color: var(--secondary-bg-color);
  transition: background-color var(--cubic-function), color var(--cubic-function), box-shadow var(--cubic-function);
}

.link p {
  color: var(--primary-content-color);
}

.gallery-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gallery-cards-gap));
  margin-left: calc(-1 * var(--gallery-cards-gap));
}

.gallery-flex .item {
  flex-basis: calc(33.3333333333% - var(--gallery-cards-gap));
  /* margin-bottom: 30px; */
  margin-left: var(--gallery-cards-gap);
  margin-top: var(--gallery-cards-gap);
  align-items: center;
}

.gallery-flex .item .link {
  display: block;
  transition: box-shadow var(--cubic-function);
}

.gallery-flex .item a:hover,
.gallery-flex .item a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-flex .wrapper {
  padding-top: var(--gallery-text-wrapper-padding-top-bottom);
  padding-bottom: var(--gallery-text-wrapper-padding-top-bottom);
  padding-left: var(--gallery-text-wrapper-padding-left-right);
  padding-right: var(--gallery-text-wrapper-padding-left-right);
}

.gallery-flex .bottom-border {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

/* 
.gallery .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.gallery .item:nth-last-child(-n+3) {
    margin-bottom: 0;
} */
.gallery h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery p {
  font-size: 16px;
  line-height: 1.88;
}

.gallery-nav {
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.gallery-nav .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio p,
.portfolio h2 {
  margin: 0;
}

.portfolio h2 {
  margin-bottom: 4px;
}

/* -------galery overlay---------- */
a .card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  transition: transform var(--cubic-function);
}
.gallery-flex .item a:hover .overlay, .gallery-flex .item a:focus .overlay {
  transform: translate(0);
}

.gallery .overlay p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-bg-color);
}

/* -----end-of-overlay----- */
.alternate .partners {
  display: flex;
}

.partners .partner {
  display: flex;
  border: 1px solid var(--icons-bg-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  color: var(--icons-bg-color);
  transition: color var(--cubic-function), border-color var(--cubic-function);
}
.partners .partner:hover, .partners .partner:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.partners .icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.partners li:not(:last-child) {
  margin-right: 30px;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

footer .container {
  display: flex;
  align-items: baseline;
}

footer b {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
}

.footer__logo {
  color: var(--primary-bg-color);
  margin-right: 0px;
  margin-bottom: 20px;
}

.footer .wrapper {
  display: flex;
}

footer p {
  margin-top: 0px;
  margin-bottom: 10px;
}

footer .item:not(:last-child) {
  margin-bottom: 9px;
}

footer .connect {
  margin-left: 70px;
}

.socials {
  display: flex;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials a {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: var(--primary-bg-color);
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  transition: background-color var(--cubic-function);
}
.socials a:hover, .socials a:focus {
  background-color: var(--accent-color);
}

.socials.team a {
  fill: var(--primary-bg-color);
}

.gallery-flex-big .socials a:hover .icon,
.gallery-flex-big .socials a:focus .icon {
  fill: var(--primary-bg-color);
}

.gallery-flex-big .ocupation {
  margin-bottom: 16px;
}

footer .socials .icon {
  fill: #fff;
}

/*
.socials .instagramm {
    background-image: url(../images/instagram.svg);
}

.socials .twitter {
    background-image: url(../images/twitter.svg);
}

.socials .facebook {
    background-image: url(../images/facebook.svg);
}

.socials .linkedin {
    background-image: url(../images/linkedin.svg);
} */
/* 
.gallery .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.gallery .item:nth-last-child(-n+3) {
    margin-bottom: 0;
} */
/* --------footer-subscribe------ */
footer .subscribe {
  margin-left: 93px;
}

.subscribe form {
  display: flex;
  align-items: center;
  height: 50px;
}

.subscribe .mail {
  width: 358px;
  height: 100%;
  margin-right: 12px;
  /* background-color: yellow; */
}

.subscribe .mail input {
  display: block;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  line-height: 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--cubic-function), border-color var(--cubic-function);
}
.subscribe .mail input:focus, .subscribe .mail input:hover {
  color: var(--primary-bg-color);
  border: 1px solid var(--accent-color);
}

.subscribe .mail input:not(:-moz-placeholder-shown) {
  color: var(--primary-bg-color);
  border: 1px solid var(--accent-color);
}

.subscribe .mail input:not(:-ms-input-placeholder) {
  color: var(--primary-bg-color);
  border: 1px solid var(--accent-color);
}

.subscribe .mail input:not(:placeholder-shown) {
  color: var(--primary-bg-color);
  border: 1px solid var(--accent-color);
}

.subscribe .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
}
.subscribe .button:hover, .subscribe .button:focus {
  background-color: var(--hero-button-color-accent);
}

.subscribe .button svg {
  padding-left: 10px;
  fill: var(--primary-bg-color);
}

.backdrop {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--cubic-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform var(--cubic-function);
}

.backdrop .modal {
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--cubic-function);
}

.modal__button-close-cross {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.modal__button-close-cross:hover, .modal__button-close-cross:focus {
  cursor: pointer;
}

.modal__button-close-cross .icon {
  display: block;
  fill: #000000;
}

/* -------------Form-of-modal-window----------- */
.form-modal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-modal__lable {
  font-size: 14px;
  position: relative;
  margin-bottom: 10px;
}

.form-modal .coments {
  margin-bottom: 20px;
}

.form-modal a {
  color: var(--hero-button-color);
}

.form-modal .consent span {
  font-size: 14px;
  padding-left: 36px;
}

.form-modal .form-checkbox {
  fill: var(--secondary-content-color);
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: 12px;
}

.modal p {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-content-color);
}

.form-modal input:hover,
.form-modal input:focus,
.form-modal textarea:hover,
.form-modal textarea:focus {
  border-color: var(--accent-color);
}

.form-modal input:hover ~ svg,
.form-modal input:focus ~ svg,
.form-modal textarea:hover ~ svg,
.form-modal textarea:focus ~ svg {
  fill: var(--accent-color);
}

.form-modal .input-text {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--cubic-function);
}

.form-modal .input-text.comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  transition: border-color var(--cubic-function);
}

.form-modal span {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 4px;
}

.form-modal .consent {
  margin-bottom: 30px;
}

.consent input[type=checkbox]:focus ~ svg,
.consent input[type=checkbox]:hover ~ svg {
  fill: var(--accent-color);
  cursor: pointer;
}

.consent input[type=checkbox]:not(:checked) ~ .checked {
  opacity: 0;
  transition: opacity var(--cubic-function);
}

.consent input[type=checkbox]:checked ~ .checked {
  opacity: 1;
}

.form-modal .button {
  width: 200px;
  height: 50px;
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--hero-button-color);
  margin-bottom: 0;
}
.form-modal .button:hover, .form-modal .button:focus {
  background-color: var(--hero-button-color-accent);
}

.form-input-name ~ svg {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  fill: var(--secondary-content-color);
  transition: fill var(--cubic-function);
}/*# sourceMappingURL=main.css.map */