.hero {
  // max-width: 1600px;
  // margin-left: auto;
  // margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  background-color: var(--hero-button-color);
  transition: background-color var(--cubic-function);
  padding: 10px 32px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    background-color: var(--hero-button-color-accent);
  }
}

.hero__slogan {
  @include mobile {
    font-size: 26px;
    line-height: 1.6;
  }
  @include tablet {
    font-size: 26px;
    line-height: 1.6;
  }
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
  }

  text-transform: uppercase;
  color: var(--secondary-bg-color);
  font-weight: 900;

  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
  /* outline: 1px solid blue; */
}

.hero__slogan--centered {
  @include mobile {
    max-width: 360px;
  }
  @include tablet {
    max-width: 360px;
  }
  @include desktop {
    max-width: 696px;
  }

  margin-left: auto;
  margin-right: auto;
}
