.section {

    @include desktop{
     padding-bottom: 94px;
    }
 @include up-to-desktop{
     padding-bottom: 60px;
 }
 
 
     
     /* outline: 1px solid yellow;
     background-color: grey; */
 
 }
 
 .section.combi-top {
    padding-bottom: 0;
     @include desktop{
         padding-top: 94px;
        }
     @include up-to-desktop{
         padding-top: 60px;
         padding-bottom: 60px;
     }
     
    
 }
 
 .section.alternate {
     @include desktop{
         padding-top: 94px;
        }
     @include up-to-desktop{
         padding-top: 60px;
     }
 }
 
 .alternate:nth-child(2n) {
     background-color: var(--secondary-bg-color);
 }
 
 
 .section.combi-bottom {
     @include up-to-desktop{
display: none;
     }
 } 