.alternate .partners {
    display: flex;
    gap: 30px;
    
    @include up-to-desktop{
        flex-wrap: wrap;
    } 
    
    @include desktop{
        flex-wrap: nowrap;
    }

}

.partners .partner {
    display: flex;
    border: 1px solid var(--icons-bg-color);
    border-radius: 4px;
    

    @include up-to-tablet{
        width: 210px;
    }

    @include tablet{
        width: 226px;
    }

@include desktop{
    width: 170px;
}


    height: 92px;
    justify-content: center;
    align-items: center;
    color: var(--icons-bg-color);
    transition: color var(--cubic-function), border-color var(--cubic-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }

}

.partners .icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
}



.partners li:not(:last-child) {
   // margin-right: 30px;

}